
* {
	text-align: center;
}

body {
	font-family: Georgia, sans-serif;	
	background-color: #EBEFEE;
}

h1 {
	font-size: 60px;
	margin-top: 60px;
}

img {
	max-width: 20%;
}

h2 {
	font-size: 40px;
}

span {
	color: #5DADE2;
}

a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}